:root{
  --color-1: #ED497B;
  --color-2: #591481;
  --color-3: #361077;
  --color-4: #0E0426;
  --color-5: #1f1077;
  --color-6: #FF6E86;
}

.calendarDays{
  font-family: 'houseonmars';
  color: white;
  letter-spacing: 0.1em;
}

.calendarBackground{
  background: var(--color-4) !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--color-1);
}

.react-calendar__navigation__label{
  font-family: 'houseonmars';
  color: white;
  letter-spacing: 0.1em;
}

.react-calendar__month-view__weekdays{
  font-family: 'houseonmars';
  color: white;
  letter-spacing: 0.2em;
}

.react-calendar{
  border: 2px solid white;
  border-radius: 5%;
  width: auto;
  max-width: 450px;
}

.react-calendar__navigation__arrow{
  color:white
}

.react-calendar__tile--active {
  background: #006edc;
}