@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.singlecontact {
  text-align: center;
  padding-top: 50px;
}

.form-contact {
  max-width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.first-row {
  max-width: 250px;
}

.navbar-nav mr-auto {
  text-align: right;
}

.sidebar {
  font-family: 'house_on_marsregular';
  text-decoration-color: #ffffff;
  color: white;
}

@font-face {
    font-family: 'house_on_marsregular';
    src: url('house_on_mars-webfont.woff2') format('woff2'),
         url('house_on_mars-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.html {
  background-image: url("background.jpg");
}
